body{
  background-color: cornflowerblue;

}

h2,
h3,p {
  
  text-align: center;
  color: blue;
  font-size: 2rem;
}
img{
  width:15rem;
  height: 10rem;
}


.centrar {
  display: flex;
  justify-content: center;
  
}

.items{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
margin-bottom: 2rem;
 
  
}



button{
  background-color: blue;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  
  

}
